.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App {
  text-align: center;
}
.text-article-task {
  text-align: center;
}
.text-article-task textarea {
  width: 100%;
  resize: vertical;
}
.cantainer-tasks {
  margin: 0  auto;
  max-width: 800px;
}